<section>
	<div class="page-header">
		<h1>{{vm.title | uppercase}}</h1>
	</div>
	<form>
		<h2>CommandFactory</h2>
		<div class="form-group">
			<label for="aliasCmdFactory">Alias</label>
			<input type="text" class="form-control" id="aliasCmdFactory" placeholder="Enter Alias" ng-model="vm.alias">
		</div>
		<button class="btn btn-default" ng-disabled="vm.destroyCmd.isExecuting" ng-click="vm.destroyCmd.execute()">Destroy executing only</button>
		<button class="btn btn-default" ng-click="vm.isBusy = !vm.isBusy">Toggle Busy</button>
		<button type="submit" class="btn btn-default" ng-disabled="!vm.destroyCmd.canExecute" ng-click="vm.destroyCmd.execute()">Destroy</button>
		<button type="submit" class="btn btn-default" ng-disabled="!vm.destroyCmd2.canExecute" ng-click="vm.destroyCmd2.execute()">Destroy2</button>
		<h2>destroyCmd
			<small>status</small>
		</h2>
		<div class="form-group">
			<label>vm.destroyCmd.isExecuting</label>{{ vm.destroyCmd.isExecuting }}</div>
		<div class="form-group">
			<label>vm.isBusy</label>{{ vm.isBusy }}</div>
		</div>
		<div class="form-group">
			<label>vm.destroyCmd.canExecute</label>{{ vm.destroyCmd.canExecute }}</div>
	</form>
	</div>
	<form>
		<h2>Custom/Manual</h2>
		<div class="form-group">
			<label for="alias">Alias</label>
			<input type="text" class="form-control" id="alias" placeholder="Enter Alias" ng-model="vm.alias">
		</div>
		<button class="btn btn-default" ng-disabled="vm.isExecuting" ng-click="vm.saveCmd()">Save executing only</button>
		<button class="btn btn-default" ng-click="vm.isBusy = !vm.isBusy">Toggle Busy</button>
		<button type="submit" class="btn btn-default" ng-disabled="!vm.isEnabled" ng-click="vm.saveCmd()">Save Enabled</button>
		<h2>Status</h2>
		<div class="form-group">
			<label>isExecuting</label>{{ vm.isExecuting }}</div>
		<div class="form-group">
			<label>vm.isBusy</label>{{ vm.isBusy }}</div>
		</div>
		<div class="form-group">
			<label>vm.isEnabled</label>{{ vm.isEnabled }}</div>
	</form>
</section>